<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="methods" thread-count="5">

	<!-- Register Extent Report Listener -->
	<listeners>
		<listener class-name="com.automation.framework.listeners.ExtentListeners" />
		<listener class-name="com.automation.framework.listeners.RetryListener"/>
	</listeners>

	<test name="All test">
		<classes>
			<class name="com.automation.tests.StationSelectionTest" />
			<class name="com.automation.tests.LoginTest" />
		</classes>
	</test>
</suite>
